<h1>Login</h1>

<div class="container">
  <div class="alert alert-warning" *ngIf="invalidLogin">{{ errorMessage }}</div>

  <form (ngSubmit)="handleLogin()">
    <fieldset class="mb-3">
      <label class="form-label">Username:</label>
      <input type="text" [(ngModel)]="username" class="form-control" name="username">
    </fieldset>

    <fieldset class="mb-3">
      <label class="form-label">Password:</label>
      <input type="password" [(ngModel)]="password" class="form-control" name="password">
    </fieldset>

    <button class="btn btn-success">Login</button>
  </form>
</div>
